.root {
  color: beige;
}

.bgRed {
  background-color: red;
}

.nav {
  display: flex;
  color: rgb(66, 61, 61);
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.nav a {

}